.card__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-dark;
  text-transform: uppercase;

  &--show-more {
    color: #111111;
  }
}

.card__food-description,
.card__description-all {
  font-size: 12px;
  line-height: 16px;
  color: $text-grey;
}

.card__order-link {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $btn-color;
}

.card__show-more {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-grey;
  text-align: center;
  text-transform: uppercase;
}
