.container {
  width: 320px;
  padding: 0 20px;
  background-color: #f7403a;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding: 0 110px;
  }
}

