.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__logo-catenergy {
  padding: 39px 0 32px 0;
}


.contacts__icon {
  color: #111111;
}
