.form-diet__field {
  border: none;
}

.form-diet__base-text {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $text-grey;
  text-transform: uppercase;

  &--control-label {
    color: #111111;
  }

  &--add-gods {
    color: #000000;
  }
}

.form-diet__base-text::placeholder {
  color: $text-grey;
}

.form-diet__title-main {
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.form-diet__description {
  font-family: $oswald;
  font-weight: 400;
  text-transform: uppercase;
}

.form-diet__title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 26px;
  color: $text-black;
}

.form-diet__control-label,
.form-diet__comment-text {
  color: $text-black;
}

.form-diet__submit {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-white;
  text-align: center;
  background-color: $btn-color;
  border: none;
}

.form-diet__footnote {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
