.form-diet__field {
  border: none;
  padding: 0;
  margin: 0 0 45px 0;
}

.form-diet__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-diet__list-goal {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.form-diet__list-item:not(:last-child) {
  margin-bottom: 13px;
}

.form-diet__base-text {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $text-grey;
  text-transform: uppercase;

  &--control-label {
    color: #111111;
  }

  &--add-gods {
    color: #000000;
  }
}

.form-diet__base-text::placeholder {
  color: $text-grey;
}

.form-diet__title-main {
  margin-bottom: 39px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.form-diet__description {
  margin-bottom: 39px;
  font-family: $oswald;
  font-weight: 400;
  text-transform: uppercase;
}

.form-diet__title {
  margin-bottom: 34px;
  font-family: $oswald;
  font-size: 24px;
  line-height: 26px;
  color: $text-black;
}

.form-diet__control-label,
.form-diet__comment-text {
  color: $text-black;
}

.form-diet__comment-field {
  width: 100%;
  min-height: 150px;
}

.form-diet__list-item {
  padding-left: 45px;
  outline: 1px solid #a4d44a;
}

.form-diet__submit {
  min-width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-white;
  text-align: center;
  background-color: $btn-color;
  border: none;
}

.form-diet__footnote {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form-diet__label {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form-diet__label-field {
  margin-right: 13px;
}

.form-diet__base-text-input {
  flex-grow: 1;
  padding: 12px 0 12px 12px;
}

@media (min-width: $tablet-width) {
  .form-diet {
    margin: 0 auto 72px auto;
  }

  .form-diet__field {
    margin-bottom: 65px;
  }

  .form-diet__list-goal {
    padding-bottom: 80px;
    border: none;
    outline: 1px solid #e7e7e7;
  }

  .form-diet__title {
    margin-bottom: 76px;
  }

  .form-diet__description {
    margin-bottom: 66px;
  }

  .form-diet__list-goods {
    display: grid;
    grid-template-columns: 221px 221px;
    grid-column-gap: 123px;
    grid-row-gap: 32px;
  }

  .form-diet__submit-field {
    display: flex;
  }

  .form-diet__submit {
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-diet {
    margin-bottom: 82px;
  }

  .form-diet__field-small:first-child {
    float: left;
    margin-right: 80px;
    width: 568px;
  }

  .form-diet__input-wrapper {
    width: 569px;
  }

  .form-diet__list-goods {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 0;
  }

  .form-diet__list-item-goods {
    width: 221px;
  }

  .form-diet__list-item-goods:not(:last-child) {
    margin-right: 104px;
  }

  .form-diet__submit {
    width: 568px;
    margin-right: 81px;
  }
}

.form-diet__control-item {
  padding: 5px;
}
