.main-footer__invite {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.main-footer__adress {
  font-size: 14px;
  line-height: 20px;
  color: $text-grey;
}

.main-footer__map-image {
  border: 0;
  min-width: 100vh;
}

.contacts__icon {
  color: #111111;
}
