.main-footer {
  background-color: #f2f2f2;
}

.main-footer__invite {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.main-footer__adress {
  font-size: 14px;
  line-height: 20px;
  color: $text-grey;
}

.main-footer__iframe {
  text-align: center;
  border: 0;
  width: 100%;
}

.main-footer__adress-info {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-footer__adress-info {
    padding: 56px 70px;
  }

  .main-footer__iframe {
    min-height: 400px;
  }
}


@media (min-width: $desktop-width) {
  .main-footer__map {
    position: relative;
  }

  .main-footer__adress-info {
    position: absolute;
    z-index: 1;
    bottom: 100px;
    left: 110px;
    width: 565px;
    min-height: 198px;
    background-color: #ffffff;
  }
}
