.to-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #75e260;
}

.to-form__title {
  margin: 0;
  padding: 27px 25px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $text-white;
  text-align: center;
}

.to-form__subtitle {
  margin: 0;
  padding-bottom: 29px;
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  color: $text-white;
  text-align: center;
}

.to-form__link {
  display: block;
  margin: 0 auto;
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  color: $text-white;
  text-align: center;
  outline: 2px solid #db5964;
}

.to-form__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .to-form {
    width: $tablet-width;
  }

  .to-form__title,
  .to-form__subtitle {
    text-align: left;
    padding-left: 117px;
  }

  .to-form__link {
    z-index: 1;
    position: absolute;
    top: 180px;
    left: 120px;
  }
}

@media (min-width: $desktop-width) {
  .to-form {
    width: $desktop-width;
    height: 560px;
    margin-bottom: 82px;
  }

  .to-form__title {
    text-align: left;
    padding-left: 117px;
    padding-top: 100px;
  }

  .to-form__link {
    z-index: 1;
    position: absolute;
    top: 260px;
    left: 120px;
  }

  .to-form__image {
    position: relative;
    top: -170px;
    left: 80px;
    width: 552px;
    height: 499px;
  }
}

