@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswaldregular.woff2") format("woff2"), url("/fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/oswaldmedium.woff2") format("woff2"), url("/fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

html {
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  width: 320px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.additional-goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.additional-goods__goods-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-goods__goods-description {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-goods__order-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
}

.card__food-description,
.card__description-all {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card__order-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
}

.card__show-more {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-align: center;
}

.case__list {
  list-style: none;
}

.case__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.case__description {
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

.case__item-description {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.case__item-cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.case__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.case__scale-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.features__description {
  color: #444444;
}

.form-diet__about-cat,
.form-diet__goal,
.form-diet__contacts-owner,
.form-diet__comment,
.form-diet__add-info {
  margin: 0;
  padding: 0;
  border: none;
}

.form-diet__title-main {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.form-diet__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.form-diet__about-cat,
.form-diet__input,
.form-diet__contacts-owner,
.form-diet__control-label,
.form-diet__comment-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form-diet__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-diet__control-label,
.form-diet__comment-text {
  color: #000000;
}

.form-diet__submit {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  border: none;
}

.form-diet__footnote {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.main-footer__invite {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__adress {
  font-size: 16px;
  line-height: 20px;
}

.main-footer__map-image {
  border: 0;
  min-width: 100vh;
}

.main-header {
  background-color: #dfc3c3;
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.order-all__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
}

.results__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.results__description {
  color: #444444;
  text-align: center;
}

.results__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.to-form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.to-form__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.to-form__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */