*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

html {
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  width: 320px;
  min-height: 100vh;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $text-black;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

//убрать ширину в 320.
